
.header {
    height:auto;
    width:auto;
    text-align:center;
    padding:5px;
    background-image: url('image1.jpg');
}
.navbar {
    background-color:#E6E6FA;
    height:400px;
    width:200px;
    float:left;
    text-decoration: none;
    color: green;
    font-size: 20px;	
    padding-right: 5px;      
}
.main {
    background-color:#ADD8E6;
    width:825px;    
    height:400px;	
    float:left;	
}
.aside {
    background-color: #E6E6FA;
    width:auto;   
    height:auto;	
    float:right;	
    padding-left: 5px;
}
.footer {
    background-color:#BDB76B;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
a:hover{
    color: blue;
}
.websites{
    font-size: 20px;
}
.h1Main{
    text-align:center;
    color: red;
}
.para{
    color: red;
}
