

.header{
    height:75%;
    width:100%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: brown;
}

.left-side{
    height:100%;
    width:15%;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    background-color: coral;
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;


}

.main{
    height: 100%;
    width: 70%;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: chocolate;
    float:left;
    margin-bottom:5px;

}

.right-side{
    height: 100%;
    width: 15%;
    text-align: center;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: small;
    background-color: coral;
    float:right;
    margin-top: 5px;
    margin-bottom: 5px;

}

.footer{
    height:80%;
    width:100%;
    clear: both;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: smaller;
    background-color: brown;
}
