
.header {
    height:auto;
    width:auto;
    text-align:center;
    padding:5px;
}
.navbar {
    background-color:#E6E6FA;
    height:400px;
    width:200px;
    float:left;	
    text-decoration: none;
    color: green;
    font-size: 20px;      
}
.Content {
    background-color:#ADD8E6;
    width:847px;    
    height:400px;	
    float:left;	
    align-items: center;
   

}
.Websites {
    background-color: #E6E6FA;
    width:auto;    
    height:auto;	
    float:right;	
}
.footer {
    background-color:#BDB76B;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

a:hover{
    color: blue;
}
.header{
    text-align:center;
}	        	 
